@media screen and (min-width: 768px) {
	header .container {
		padding-top: 200px;
		padding-bottom: 100px;
	}

	/* -- INNER PAGES -- */
	#wrapper {
	    padding-left: 225px!important;
	}
	.side-nav {
		border: none;
		border-radius: 0;
		overflow-y: auto;
		padding: 0;
	}
	#wrapper .side-nav {
		position: fixed;
		top: 51px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
	}
	.side-nav>li>a {
		width: 225px;
	}
	#page-wrapper {
		padding: 50px 30px!important;
	}
	/* ~-- INNER PAGES -->
}